- title "Dashboard"
=content_for :head do
  :javascript
    $("#dashboard-nav").addClass("active");
   

=content_for :right do 
  %div{:id => "dashboard-list", :class=> "btn-group btn-group-vertical"}
    
    -if can? :create, Invoice
      = link_to "New Invoice", new_invoice_path, :class=> "btn btn-large btn-primary"
    -if can? :create, Client
      = link_to "New Client", new_client_path, :class=> "btn btn-large"
      
.row
  -@summaries.each do |currency, s|
    .currency.span3
      %strong=currency
      %ul.well.well-small.unstyled
        -s.each do |t|
          %li
            Total Due:  
            =t.total_due
          %li.muted
            =pluralize(t.count_due, 'invoice')
          %li
            Total Amount:  
            =t.total_amount_open
          %li.muted
            =pluralize(t.count_invoices_open, 'invoice')
          %li
            Total Closed:  
            =t.total_amount_closed
          %li.muted
            =pluralize(t.count_invoices_closed, 'invoice')
#dropdown-graph.dropdown
  %a{:class => "dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#"}
    =raw("View by" +("<b class= 'caret'></b>"))
  %ul{:class => "dropdown-menu", :role=>"menu" ,"aria-labelledby" => "dLabel"}
    %li= link_to "Invoices", {:action => :show, :graph => 'ti'}, :remote => true, :class => 'graph_link'
    %li= link_to "Payments", {:action => :show, :graph => 'tp'}, :remote => true , :class => 'graph_link'

#graph 
  =render :partial => 'dashboard/graphs/total_closed_by_time' , :locals => { :datag => @data, :gtitle => @title }

.row
%h4 Payments Due
-@outstanding.each do | currency, s |
  %strong=currency
  %table.payments.striped 
    -s.each do |t|
      %tr
        %td
          = link_to t.company_name, client_path(t.client_id)
          (
          =pluralize(t.count_due, 'invoice')
          ) 
          
          %strong Total Due:
          =t.total_due
                
.row
%br
#dashboard-recent
  %h3 Recent Activity   

