= simple_form_for [@invoice,@comment], :html => {:remote => true } do |f|
  = field_set_tag "Add Comment", :id => "form-main" do
    = f.input :title
    = f.input :message, :input_html => { :rows => 3 }
    = render "shared/modal_footer"  