-if @invoice.status == "paid"
  %h2 Invoice has been paid, you can copy this invoice or reset to open
-else
  #invoice{:class=>'row'}
    =simple_nested_form_for @invoice, :html => {:novalidate => true} do |f|      
      =f.error_messages
           
      %div{:id => "form-top", :class => "invoice form-height-long span6"}
        %div{:class => 'row'}
          .span3
            = f.input :business_id, :label => "Your ID", :input_html => {:class => ""}, :wrapper_html => {:class => ''}
          .span3
            -if current_company.preference.purchase_order_number =1
              = f.input :purchase_order_id, :label => "Purchase Order ID", :input_html => {:class => ""}, :wrapper_html => {:class => ''}
        .row
        = f.input :title, :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-block-level'}
        = f.association :client, :collection => @clients, :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-block-level'}
        = f.input :invoice_date, :label => "Date", :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-medium'}

        = f.input :currency, :collection => @currencies, :selected => @invoice.currency.downcase, :required => true , :include_blank => false
        
      %div{:id => "form-right", :class => "invoice form-height-long span2"}
        .fields
          = f.input :tax_rate, :input_html => {:size => 1}, :label => "Tax %", :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-small'}
          = f.input :delivery_charge_cents, :input_html => {:size => 1}, :label => "Shipping", :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-small'}
          = f.input :late_fee_cents, :input_html => {:size => 1}, :label => "Late Fee", :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-small'}
          = f.input :due_days, :input_html => {:size => 1}, :label => "Due Days", :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-small'}
          = f.input :discount, :input_html => {:size => 4}, :label => "Discount (% or value)", :label_html => {:class => "label_narrow"}, :input_html => {:class => 'input-small'}

      #form-main.span8

        .fields.row
          %h3 Items
        .row
          .span2
            %strong Item       
          .span1
            %strong Qty
          .span1
            %strong Price
          .span2 
            %strong / Unit
          .span1
            %strong Tax
          .span1
          
          
                  
        = f.simple_fields_for :invoice_items
        = f.link_to_add '<i class="icon-plus"></i> Add'.html_safe, :invoice_items, :class => "btn btn-small" 


      #form-bottom{:class => "span8"}
        .fields
          %h3 Further Notes
        .fields          
          =f.input_field :notes, :rows => 2, :class=> 'input-block-level'
        %br  
     
      #form-accept_payments.span8
        %h3 Client can pay by:
        =f.input :payables, :as => :check_boxes, :collection => Invoice::PAYABLES, :item_wrapper_class => 'checkbox inline', :label => ''
        
      #btn{:class => 'form-actions row pull-right'}
        %button{:type=>"submit",:class=>"btn btn-primary btn-large"} Save Invoice
          
     
      
    


    
    

