-if @invoice.status == "paid"
  %h2 Invoice has been paid, you can copy this invoice or reset to open
-else
  =simple_form_for @invoice  do |f|
    =field_set_tag 'Invoice Details', :id => "form-main" do
      = f.input :invoice_date, :label => "Date"
      = f.association :client
      = f.input :title
      = f.input :business_id, :label => "Your ID"
      = f.input :purchase_order_id, :label => "Order ID"
      %br
    =field_set_tag 'Items' do    
      %table{:id => "invoice_items"}
        %tr
          %th Type
          %th Item
          %th Qty
          %th Cost
          %th Tax
          =f.simple_fields_for :invoice_items do |item|
            = render :partial => 'invoice_item', :locals => { :f => item }
          =add_child_link "New Item", f, :invoice_items

    =f.input :notes, :input_html => { :rows => 1 }

    =field_set_tag 'Charges', :id => "form-right" do
      = f.input :tax_rate
      = f.input :delivery_charge
      = f.input :late_fee
      = f.input :due_days

    %button{:type=>"submit",:class=>"red"} Save
