-if @invoice.status == "paid"
  %h2 Invoice has been paid, you can copy this invoice or reset to open
-else
  #invoice-main
    =simple_nested_form_for @invoice, :html => {:novalidate => true} do |f|           
      =field_set_tag 'Invoice Details', :id => "form-top" do  
        = f.input :title
        = f.input :invoice_date, :label => "Date"
        = f.association :client, :collection => @clients
        = f.input :business_id, :label => "Your ID"
        = f.input :purchase_order_id, :label => "Order ID"    
      
      =field_set_tag 'Charges',:id => "form-right" do
        = f.input :tax_rate, :input_html => {:size => 1}, :label => "Tax %"
        = f.input :delivery_charge, :input_html => {:size => 1}, :label => "Delivery"
        = f.input :late_fee, :input_html => {:size => 1}, :label => "Late Fee"
        = f.input :due_days, :input_html => {:size => 1}, :label => "Due Days"

      =field_set_tag 'Items', :id => "form-main" do
        .fields
          .item_type 
            %label Type
          .item_description
            %label Description        
          .item_qty 
            %label Qty
          .item_cost
            %label Cost
          .item_tax
            %label Tax
          .item_remove
          .item_total        
        = f.simple_fields_for :invoice_items
        =f.link_to_add "New Item", :invoice_items                  
      =field_set_tag 'Further Notes', :id => "form-bottom" do
        =f.input_field :notes, :html => {:rows => 2}
      #button
        %button{:type=>"submit",:class=>"red"} Save
    
    

