- if can? :read, invoice
  %tr{:id => "invoice-row-" + invoice.business_id.to_s}
    - if show_checkboxes 
      %td= check_box_tag "invoice_ids[]", invoice.business_id
    
    -if can?( :read, invoice)
      %td= link_to invoice.business_id, invoice_path(invoice) #invoice.id, invoice
    -else
      %td= invoice.business_id
    
    %td= h invoice.invoice_date.strftime("%Y %b %d")
    
    %td 
      %strong=invoice.client.name#link_to_if can?(:read, invoice.client), invoice.client.name, invoice.client
    %td= h invoice.title
    %td
      %span{:class =>  'label label-' + Invoice::INVOICE_STATES_VIEW[invoice.state.to_sym]}
        = h invoice.formatted_state
    %td= h invoice.due_days
  
    %td= h csymb invoice.currency ||= current_company.preference.currency_format, invoice.total_cost_inc_tax_delivery_cents
    %td= h csymb invoice.currency ||= current_company.preference.currency_format , invoice.remaining_amount_cents
    %td
      -if invoice.seed_schedule_id
        = link_to '<i class="icon-time"></i> '.html_safe, schedule_path(invoice.seed_schedule_id)

    %td
      -if can? :update, invoice
        = link_to '<i class="icon-edit"></i> '.html_safe, edit_invoice_path(invoice), :class => 'btn'
        =# link_to '<i class="icon-edit"></i> Copy'.html_safe, new_invoice_path(:id => invoice.id), :class => 'btnss'
  


