%tr{:id => "invoice-row-" + invoice.id.to_s, :class=> cycle("odd", "even") + " table-row"}
  %td= check_box_tag "invoice_ids[]", invoice.id
  %td= h invoice.invoice_date.strftime("%Y %b %d")
  
  %td= link_to_if can?(:read, invoice), invoice.id, invoice
  %td 
    %strong=invoice.client.name#link_to_if can?(:read, invoice.client), invoice.client.name, invoice.client
  %td= h invoice.title
  %td
    %span{:class =>  'badge ' + invoice.formatted_state_badge}
      = h invoice.formatted_state
  %td= h invoice.due_days
  %td= h number_to_currency invoice.total_cost_inc_tax_delivery, :unit => '£', :separator => ".", :delimiter => ","
  %td= h number_to_currency invoice.due_amount, :unit => '£', :separator => ".", :delimiter => ","

  %td
    -if can? :update, invoice
      = link_to '<i class="icon-edit"></i> '.html_safe, edit_invoice_path(invoice), :class => 'btn'
  