%tr{:class=> cycle("odd", "even") + " table-row"}
  %td= check_box_tag "invoice_ids[]", invoice.id
  %td= h invoice.invoice_date.strftime("%Y %b %d")
  
  %td= link_to_if can?(:read, invoice), invoice.id, invoice
  %td 
    %strong=h invoice.client.name
  %td= h invoice.title
  %td= h invoice.state
  %td= h invoice.due_days
  %td= h number_to_currency invoice.total_cost_inc_tax_delivery, :unit => '£', :separator => ".", :delimiter => ","
  %td
    -if can? :update, invoice
      = link_to "Edit", edit_invoice_path(invoice)
  %td
    -if can? :delete, invoice
      = link_to "Delete", invoice, :confirm => 'Are you sure?', :method => :delete