- title "Invoices"

= render :partial => "filter"
%br
-if @invoices.count > 0
 =form_tag delete_multiple_invoices_path, :method => :delete, :remote => true do
  -if can? :delete, Invoice
   .row
   = submit_tag 'Delete', :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?', :class => 'btn btn-small btn-danger'
  
  =render :partial=> "invoices" 
-else
 -if can? :create, Invoice
  No Invoices, create a new invoice
  = link_to " now", new_invoice_path  

=content_for :right do
 %div{:class => 'btn-group btn-group-vertical'}
 
  -if can? :create, Invoice
   = link_to '<i class="icon-plus icon-white"></i> New Invoice'.html_safe, new_invoice_path, :class => 'btn btn-primary'
    
  -#if can? :read, ScheduleInvoice
   =# link_to "Reoccuring Invoices", schedules_path, :class => 'btn'
 
  -if can? :read, Invoice
   = link_to "Export to CSV", invoices_path(:format => 'csv'), :class => 'btn'
