- title "Invoices"

= render :partial => "filter"
%br
-if @invoices.count > 0
 =form_tag delete_multiple_invoices_path, :method => :delete, :remote => true do
  -if can? :delete, Invoice
   = submit_tag 'Delete', :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'
  
  =render :partial=> "invoices" 
-else
 -if can? :create, Invoice
  No Invoices, create a new invoice
  = link_to " now", new_invoice_path  

=content_for :right do
 %ul
  %li  
   -if can? :create, Invoice
    = link_to "New Invoice", new_invoice_path
  %li
   -if can? :read, Schedule
    = link_to "Reoccuring Invoices", schedules_path
  %li
   -if can? :read, Invoice
    = link_to "Export", invoices_path(:format => 'csv')

  
  
