%div{:class=>"modal-header"}
  %button{:type=>"button", :class=>"close", 'data-dismiss'=>"modal",  'aria-hidden'=>"true"}
    &times;
  %h3 Set Payment Reminder


%div{:class=>'modal-body'}


  =simple_form_for @invoice.reminder, :url => invoice_reminder_path(@invoice), :html => {:id=> 'edit_reminder', :class=> 'form-horizontal', :method => :put, :remote => true }do |f|
    =# field_set_tag "Setup reminder", :id => "form-main" do
    =#link_to image_tag("/images/icons/cancel.png"), invoice_path(@invoice), :id => "cancel", :class => "cancel_button"
    = f.error_messages      
    = f.input :days_before,  :as => :select, :collection => 1..31
    = f.input :frequency, :as => :select, :collection => ["Daily", "Weekly", "Monthly" ,"Quarterly", "Yearly"]
    = f.input :default_message, :as => :boolean
    = f.input :custom_message, :input_html => { :rows => 3 , :class=> "autogrow"}
    = f.input :enabled, :as => :boolean
    
    %div{:class=>'modal-footer'}
      %button{:class=>"btn", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} Close
      %button{:type=>"submit",:class=>"btn btn-primary"} Remind


