%div{:class=>"modal-header"}
  %button{:type=>"button", :class=>"close", 'data-dismiss'=>"modal",  'aria-hidden'=>"true"}
    &times;
  %h3 Set Payment Reminder


%div{:class=>'modal-body'}


  =simple_form_for @invoice.reminder, :url => invoice_reminder_path(@invoice), :html => {:id=> 'edit_reminder', :class=> 'form-horizontal', :method => :put, :remote => true }do |f|
    =# field_set_tag "Setup reminder", :id => "form-main" do
    =#link_to image_tag("/images/icons/cancel.png"), invoice_path(@invoice), :id => "cancel", :class => "cancel_button"
    = f.error_messages      
    =# f.input :days_before,  :as => :select, :collection => 1..31
    = f.input :frequency, :as => :select, :collection => ["Daily", "Weekly", "Monthly" ,"Quarterly", "Yearly"]
    .email
      =# f.input :default_message, :as => :boolean, :label => "Default message", :include_blank => false
      Message
      .placeholderable
        = render :partial => 'etemplates/placeholders_email'
        %br
        .message
          = f.input :custom_message, :label => false, :input_html => { :rows => 4, :style => 'width:200px', :class => 'autogrow' }
      = f.input :format, :as => :radio_buttons, :collection => {"HTML" => 1, "PDF" => 2}, :item_wrapper_class => 'inline', :label_html => {:class=>'inline'}
      
      -if @invoice.client.email.length > 0
        = f.input :client_email,  :label=> @invoice.client.company_name + ' (' +@invoice.client.email + ')', :item_wrapper_class => 'inline'
      = f.input :emails, :item_wrapper_class => 'inline', :label => 'Email (seperate using ;)'
      
      -if @invoice.client.contacts.size > 0 
        = f.association :contacts, :collection => @invoice.client.contacts, :as => :check_boxes, :label => "Send To", :item_wrapper_class => 'inline', :label_html => {:class=> 'radio inline'}, :input_html => {:class=>'radio inline'}
          
    = f.input :enabled, :as => :boolean
    
    %div{:class=>'modal-footer'}
      %button{:class=>"btn", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} Close
      %button{:type=>"submit",:class=>"btn btn-primary"} Remind


