%tr
  %td= h mail_to user.email
  %td= h user.sign_in_count      
  %td= h user.last_sign_in_at 
  -if can? :update, user
    %td= link_to '<i class="icon-edit"></i> '.html_safe, edit_user_path(user), :class => 'btn'

  -if can? :destroy, user
    %td= link_to '<i class="icon-remove"></i> '.html_safe, user, :confirm => 'Are you sure?', :method => :delete, :class => 'btn'

  - if user.invited?
    %td 
      %span.label.label-info
        Invitation sent...awaiting acceptance
