#invoice.row
  =simple_nested_form_for  @schedule, :url => {:controller => 'schedules', :action => @action, :id => @schedule.id}, :method => @method do |f|
    -if f.error_messages
      .alert.alert-danger= f.error_messages
    = field_set_tag "Schedule invoice",   :class=> "well" do
      .form-group
        .form-group
          .col-xs-6= f.input :name, :label => "Name of Schedule"
          .col-xs-6= f.input :client_id, :as => :select, :collection => current_company.clients.accessible_by(current_ability),  :input_html => { :class => 'input-block' }, :include_blank =>false
        .form-group
          .col-xs-6= f.input :frequency_type, :label => "Freq", :as => :select, :collection => ["Daily", "Weekly", "Monthly", "Quarterly", "Yearly"], :include_blank => false, :label_html => { :class => 'input-block' }
          .col-xs-6= f.input :frequency, :label => "No Repeats (enter 0 to invoice forever)"
        .form-group
          .col-xs-6= f.input :next_send, :as => "String", :label => "Start date", :input_html => {:class=> 'span2'}
          .col-xs-6= f.input :end_date, :as => "String", :include_blank => true, :input_html => {:class=> 'span2'}, :label => "End Date", :placeholder => "leave blank to schedule forever"
        .form-group
          .col-xs-4= f.input :due_on, :as => :select, :label => "Due",  :collection => ScheduleInvoice::DUE_DAYS_LIST.sort.map {|k,v| [v,k]} , :include_blank => false, :label_html => { :class => 'label_med' }        
          .col-xs-4= f.input :payment_reminder,   :as => :boolean, :label => "Send Payment Reminder", :include_blank => false
          .col-xs-4= f.input :send_email,   :as => :boolean, :label => "Send Email", :include_blank => false

    .email.form-group
      =field_set_tag "Email Settings"  do            
        .form-group= render "shared/delivery_form", :f => f, :client => @client, :type => "reminder"           
      =f.input :enabled,  :as => :boolean, :label => "Auto Email Sending Enabled", :include_blank => false
      
    = field_set_tag "Invoice Setup" do #,   :id => "form-main" do
      =render "shared/invoices/form_main", :f => f , :inv => @schedule  
 
      .row
      .control-group
        .controls
          =link_to "Cancel", schedule_path(@schedule), :class => 'btn'

  
