=simple_nested_form_for  @schedule do |f|
  = f.error_messages
  = field_set_tag "Schedule invoice" do #,   :id => "form-main" do
    = f.input :client_id, :as => :select, :collection => current_company.clients.accessible_by(current_ability),  :label_html => { :class => 'label_narrow' }, :include_blank =>false
    = f.input :name, :label_html => { :class => 'label_narrow' }
    = f.input :frequency_type, :label => "Freq", :as => :select, :collection => ["Daily", "Weekly", "Monthly", "Quarterly", "Yearly"], :include_blank => false, :label_html => { :class => 'label_narrow' }
    = f.input :frequency, :label => "No Repeats", :label_html => { :class => 'label_narrow' }
    .50.a= f.input :next_send, :label_html => { :class => 'label_narrow' }, :label => "Start date"
    .50.z= f.input :end_date, :hint => "Leave blank to schedule forever", :label_html => { :class => 'label_narrow' }, :include_blank => true
    
    .20.a= f.input :default_message, :as => :select, :label => "Default message",  :label_html => { :class => 'label_narrow' }, :include_blank => false
    .80.z= f.input :custom_message, :input_html => { :rows => 3 , :class=> "autogrow"}, :label_html => { :class => 'label_narrow' }
    .clear
    = f.input :format, :as => :radio, :collection => {"HTML" => 1, "PDF" => 2}, :wrapper_html => {:class => "optional collection_radio"}  
    %br
    .40.a= f.input :send_to_client, :as => :select, :label_html => { :class => 'label_narrow' }, :include_blank => false
    -if @client
      -if @client.contacts.size > 0 
        = f.association :schedule_sends, :collection => @client.contacts, :as => :check_boxes, :label => "Send To", :label_html => { :class => 'label_narrow collection_check_boxes' }
      -else
        .20.z= f.submit "Send to clients contacts...", :name => "send_contacts"
    -else 
      .20.z= f.submit "Send to clients contacts...", :name => "send_contacts"
    .clear
    = f.input :enabled,   :as => :select, :label_html => { :class => 'label_narrow ' }, :label => "Enabled", :include_blank => false
    = f.input :draft_only, :hint => "Otherwise invoice will be in open state",  :as => :select, :label_html => { :class => 'label_narrow ' }, :label => "Eail as draft", :include_blank => false
  = field_set_tag "Invoice Setup" do #,   :id => "form-main" do
    %div{:id => "form-top", :class => "invoice form-height-normal"}  
      .fields
        
        = f.input :title, :label_html => { :class => 'label_narrow' }
        %br
        = f.input :business_id, :label => "Your ID", :label_html => { :class => 'label_narrow' }
        = f.input :purchase_order_id, :label => "Order ID", :label_html => { :class => 'label_narrow' }    
      
    %div{:id => "form-right", :class => "invoice form-height-normal"}
      .fields
        = f.input :tax_rate, :input_html => {:size => 1}, :label => "Tax %", :label_html => { :class => 'label_med' }
        .50a= f.input :delivery_charge, :input_html => {:size => 1}, :label => "Delivery", :label_html => { :class => 'label_med' }
        .50z= f.input :late_fee, :input_html => {:size => 1}, :label => "Late Fee", :label_html => { :class => 'label_med' }
        = f.input :due_on, :as => :select, :label => "Due",  :collection => Schedule::DUE_DAYS_LIST.sort.map {|k,v| [v,k]} , :include_blank => false, :label_html => { :class => 'label_med' }
        = f.input :discount, :input_html => {:size => 4}, :label => "Discount (% or value)", :label_html => { :class => 'label_med' }
    %br
    #form-main
      .field-title
        %h3 Items
      .fields
        .item_description
          %strong Item Name and Description        
        .item_qty 
          %strong Qty
        .item_cost
          %strong Price
        .item_type 
          %strong / Unit
        .item_tax
          %strong Tax
        .item_remove
        .item_total        
      =f.simple_fields_for :schedule_items 
      = f.link_to_add "New Item", :schedule_items                  

    #form-bottom
      .field-title
        %h3 Further Notes
      .fields  
        =f.input_field :notes, :html => {:rows => 2}
     
    #buttons
      %button{:type=>"submit"} Create Schedule