- if can? :read, schedule
  %tr{:id => "invoice-row-" + schedule.id.to_s, :class=> cycle("odd", "even") + " table-row"}
    %td= check_box_tag "invoice_ids[]", schedule.id
    %td= link_to schedule.name, schedule_path(schedule)      
    %td= h schedule.client.name
    %td= h schedule.frequency
    %td= h schedule.frequency_type
    %td= h schedule.last_sent
    %td= h schedule.enabled
    %td
      -if can? :update, schedule
        = link_to '<i class="icon-edit"></i> '.html_safe, edit_schedule_path(schedule), :class => 'btn'