%p
 = client.address1
 -if client.address2
  %br
   = client.address2
 %br
 = client.zip
 %br
 = client.city
 %br
 = client.country
 %br 
 -if client.phone
  %br
  Phone:
  = client.phone
 -if client.fax
  %br
  Fax:
  = client.fax
 -if client.email
  %br
  Email:
  = client.email

  
