%address
 = client.address1
 -if client.address2
  = client.address2
 -if client.zip
  ,
  = client.zip
 -if client.city
  %br
  = client.city
 -if client.country
  ,
  = client.country 
 -if client.phone
  %br
  Phone:
  = client.phone
 -if client.fax
  ,
  Fax:
  = client.fax
 -if client.email
  ,
  Email:
  = client.email

  
