

%tr{:id => "client-row-" + client.id.to_s, :class=>"table-row " + cycle("odd", "even")}
  %td= check_box_tag "client_ids[]", client.id
  %td
    %dd{:class => "table-item"}
      %h3= h link_to_if can?(:read, client), client.company_name, client
      =h client.display_address
      %br
      -if client.display_phone or client.display_fax
        =h client.display_phone
        =h client.display_fax
        %br
      -if client.email.length > 0  
        %strong Email: 
        = h mail_to client.email
  %td{:class => "table-side"}
    %dd
      - client.summaries.each do |item|
        .well.well-small
          %strong=h item.currency
          %ul.inline
            %li
              %strong Due:  
              = h csymb item.currency, item.total_due ||=0, false
            %li
              %strong Total:  
              = h csymb item.currency, item.total_amount_open ||=0, false 
            %li
              %strong Open Count:
              = h item.count_invoices_open
    =#client.invoices.where(:state => 'open').count

