#filter_link
  %a{:href=>"javascript:void(0)"}
    Show/Hide Filter
#filter_box
  - simple_form_for @search do |f|
    -# f.inputs :id =>  "ajax_form" do
    =field_set_tag 'Client Details' do
      = f.input :company_name_contains, :label => "Company/Name", :required => false
      = f.input :email_contains, :label => "Email", :required => false
      = f.input :city_contains, :label => "City", :required => false
      = f.input :country_contains, :label => "Country", :required => false
      = f.input :zip_contains, :label => "Post/Zip Code", :required => false  
    %button{:type=>"submit",:class=>"blue"} Search Clients
