-title "Clients"

= render :partial => "filter"
%br
-if @clients.length > 0

 =form_tag delete_multiple_clients_path, :method => :delete, :remote => true do
  -if can? :delete, Client
   = submit_tag 'Delete', :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'
  #clients 
   = render :partial => "clients"
  
-else
 
 -if can? :create, Client
  No Clients setup, create a new client
  = link_to " now", new_client_path  

=content_for :right do
 %div{:class => 'btn-group btn-group-vertical'}

  -if can? :create, Client
   = link_to '<i class="icon-plus icon-white"></i> New Client'.html_safe, new_client_path, :class => 'btn btn-primary'
  -if can? :read, Client
   = link_to "Export to CSV", clients_path(:format => 'csv'), :class => 'btn'
