-title "Clients"
-if @clients.length > 0

 =form_tag delete_multiple_clients_path, :method => :delete, :remote => true do
  -if can? :delete, Invoice   
   = submit_tag '<i class="glyphicon glyphicon-remove"></i> Delete'.html_safe, :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?', :class => 'btn btn-default btn-sm'
  
  #clients 
   = render :partial => "clients"
  
-else
 
 -if can? :create, Client
  No Clients setup, create a new client
  = link_to " now", new_client_path  

=content_for :right do
 .btn-group-vertical
  -if can? :create, Client
   = link_to_btn '<i class="glyphicon glyphicon-plus-sign"></i> Client'.html_safe, new_client_path, :class => 'btn-primary'

  -if can? :read, Client
   = link_to_btn '<i class="glyphicon glyphicon glyphicon-export"></i> Export'.html_safe, clients_path(:format => 'csv')
  
  = render :partial => "filter"  

