-title @client.company_name

%table{:class => 'hero-unit'}
  %tr
    %td=@client.display_address
  %tr
    %td=h mail_to @client.email
  %tr
    %td
      =@client.display_phone
  %tr
    %td
      =@client.display_fax
%br
-if @client.email?
  You can send a login invitation by setting up the clients email
-else  
  -if can? :invite, Client
    - if !@client.invited?
      =# link_to 'Send Login Invitation', @client, :confirm => 'Are you sure?', :method => :invite, :class => 'btn btn-primary pull-right'
      = link_to 'Send Login Invitation', new_user_invitation_path(:client_id => @client.id)
    - else
      = link_to 'Resend Login Invitation', new_user_invitation_path(:client_id => @client.id)
#contacts
  %h3 Contacts
  -if @client.contacts.size > 0
    = render :partial => "contacts/contact", :object => @client
  -else
    No contacts
%br
#invoices
  %h3 Invoices 
  -if @invoices.size > 0 
    %table{:id => "invoices", :class => 'table table-striped table-condensed'}
      %thead
        %tr
          %th Date
          %th Due Date
          %th Title
          %th Client
          %th Status
          %th Due Days 
          %th Total Cost 
          %th
          %th
      %tbody{:id => "invoices_body"}
        =render :partial => "invoices/invoice", :collection => @invoices

=content_for :right do

  -if can? :update, @client
    = link_to 'Edit', edit_client_path(@client)
    %br
  -if can? :create, Contact
    = link_to "New Contact", new_client_contact_path(@client)
    %br
  -if can? :create, Client
    = link_to "New Invoice", new_invoice_path(:client_id => @client)
    %br
  = link_to 'View All Clients', clients_path
