-title @client.company_name

%table
  %tr
    %td 
      %strong Address:
    %td=@client.display_address
  %tr
    %td 
      %strong Email:
    %td=h mail_to @client.email
  %tr
    %td
      %strong Phone:
    %td
      =@client.display_phone
    %tr
      %td
        %strong Fax
      %td
        =@client.display_fax
    %tr
      %td
        -if can? :invite, @client
          - if !@client.invited?
            = link_to 'Invite', @client, :confirm => 'Are you sure?', :method => :invite
#contacts
  %h3 Contacts
  -if @client.contacts.size > 0
    = render :partial => "contacts/contact", :object => @client
  -else
    No contacts
  %p
    -if can? :create, Contact
      = link_to "New Contact", new_client_contact_path(@client)
    -if can? :update, @client
      = link_to 'Edit', edit_client_path(@client) |

  %h3 Invoices 
  -if @client.invoices.size > 0 
    %table{:id => "invoices"}
      %thead
        %tr
          %th Date
          %th Due Date
          %th Title
          %th Client
          %th Status
          %th Due Days 
          %th Total Cost 
          %th
          %th
      %tbody
        =render :partial => "invoices/invoice", :collection => @client.invoices

= link_to 'Back', clients_path
