-title @client.company_name, false

.panel.panel-primary
  .panel-heading
    %h3.panel-title
      = h @client.company_name 
      = " ID: " + @client.business_id
  .panel-body
    %ul.list-unstyled
      %li=h @client.display_address
      %li=h mail_to @client.email
      %li=h @client.display_phone
      %li=h @client.display_fax
 
-if !@client.email? and can? :invite, Client
  You can send a login invitation by setting up the clients email
-else  

.panel.panel-default
  .panel-heading
    %h4.panel-title Contacts
  .panel-body
    #contacts
      -if @client.contacts.size > 0
        = render :partial => "contacts/contact", :object => @client
      -else
        No contacts
.panel.panel-default
  .panel-heading
    %h4.panel-title Invoices
  .panel-body
    -if @invoices.size > 0 
      %table#invoices.table.table-condensed.table-hover
        %thead
          %tr
            %th ID
            %th Date
            %th Client
            %th Title
            %th Status
            %th Due Days
            %th Total Cost 
            %th Due Amount 
            %th
            %th
        %tbody{:id => "invoices_body"}
          =render :partial => "invoices/invoice", :collection => @invoices, :locals => {:show_checkboxes => false}
  .panel-footer
    

=content_for :right do
  .btn-group-vertical

    -if can? :update, @client
      = h link_to_btn 'Edit', edit_client_path(@client), :class => 'btn-primary'
      
    
    -if can? :create, Client
      = h link_to_btn '<i class="glyphicon glyphicon-plus-sign"></i> New Invoice'.html_safe, new_invoice_path(:client_id => @client)
      
      
    -if can? :invite, Client
      - if !@client.invited?
        =# link_to 'Send Login Invitation', @client, :confirm => 'Are you sure?', :method => :invite, :class => 'btn btn-primary pull-right'
        = link_to_btn '<i class="glyphicon glyphicon-send"></i> Send Login Invitation'.html_safe, new_user_invitation_path(:client_id => @client.id)
      - else
        = link_to_btn '<i class="glyphicon glyphicon-send"></i> Resend Login Invitation'.html_safe, new_user_invitation_path(:client_id => @client.id)
    -if can? :create, Contact
      = link_to_btn '<i class="glyphicon glyphicon-plus-sign"></i> Add Contact'.html_safe, new_client_contact_path(@client), :remote => true

        
=content_for :left do  
  =h link_to 'View Clients', clients_path
