.row
  .col-md-2
    = f.input :title , :as => :select, :collection => ["Mr", "Mrs", "Miss", "Dr", "Prof","Lady", "Sir"]
  .col-md-5  
    = f.input :first_name
  .col-md-5  
    = f.input :last_name
.row
  .col-md-12    
    = f.input :job_title
.row
  .col-md-3      
    = f.input :email
  .col-md-3
    = f.input :phone
  .col-md-3  
    = f.input :mobile
  .col-md-3 
    = f.input :fax 
