-title "Edit Company"

= javascript_include_tag  "template_setup.js"

=content_for :right do 
  -if can? :read, User 
    =link_to "Manage Users", users_path 
    =link_to "Preview Settings", company_path
    
#tabs
  %ul
    %li
      %a{:href=> '#tabs-1'} Nunc tincidunt
    %li
      %a{:href=> '#tabs-2'} Proin dolor
	

  =simple_form_for  @company, :url => company_path, :html => { :method => :put, :multipart => true  } do |f|
    = f.input :name, :label => "Subdomain"  
    =field_set_tag 'Settings', :id =>"tabs-1" do
      =f.simple_fields_for :setting do |s|
        = s.error_messages
        = s.input :logo, :as => :file
        %br
        = s.input :company_name
      
        %br
        = s.input :company_registration
      
        %br
      
        = s.input :vat
        = s.input :vat_registration
      
        %br
      
        = s.input :address, :input_html => { :rows => 3, :class => 'autogrow' }
        = s.input :telephone
        = s.input :fax
        = s.input :email
        = s.input :payment_instructions_1, :input_html => { :rows => 3, :class => 'autogrow' }
    
    %button{:type=>"submit",:class=>"red"} Save
      
  