-title "Edit Company"

= javascript_include_tag  "template_setup.js"

=content_for :right do 
  -if can? :read, User 
    =link_to "Manage Users", users_path 
    =link_to "Preview Settings", company_path
    
#tabs
  %ul
    %li
      %a{:href=> '#tabs-1'} Nunc tincidunt
    %li
      %a{:href=> '#tabs-2'} Proin dolor
	

  =simple_form_for  @company, :url => company_path, :html => { :method => :put, :multipart => true  } do |f|
    = f.input :name, :label => "Subdomain"  
    =field_set_tag 'Settings', :id =>"tabs-1" do
      =f.simple_fields_for :setting do |s|
        = s.error_messages
        = s.input :logo, :as => :file
        %br
        = s.input :company_name
      
        %br
        = s.input :company_registration
      
        %br
      
        = s.input :vat
        = s.input :vat_registration
      
        %br
      
        = s.input :address, :input_html => { :rows => 3, :class => 'autogrow' }
        = s.input :telephone
        = s.input :fax
        = s.input :email
        = s.input :payment_instructions_1, :input_html => { :rows => 3, :class => 'autogrow' }
    =field_set_tag 'Templates', :id =>"tabs-2" do
      =f.simple_fields_for :etemplate do |s|
        %h3 Invoice Email Template

        = s.input :invoice_subject, :input_html => { :rows => 1 }, :label => "Subject"
             
             
        %label 
          Message     
        %br
        #template_setup    
          %ul{:id => "lt-form"} 
            %li 
              %a{:href => "#"} company.name   
            %li 
              %a{:href => "#"} company.email
            %li
              %a{:href => "#"} company.fax 
            %li
              %a{:href => "#"} company.phone 
            %li
              %a{:href => "#"} company.website 
            %li
              %a{:href => "#"} client.name 
            %li
              %a{:href => "#"} invoice.id 
            %li
              %a{:href => "#"} invoice.link 
            %li
              %a{:href => "#"} invoice.date    
            %li
              %a{:href => "#"} invoice.title 
            %li
              %a{:href => "#"} invoice.due_date 
            %li
              %a{:href => "#"} invoice.total_due
        
          #rt-form
            = s.input :invoice_message, :input_html => { :rows => 3, :class => 'autogrow' }, :label => false
        %br
        %h3 Reminder Email Template
        = s.input :reminder_subject, :input_html => { :rows => 1, :class => 'autogrow' }, :label => "Subject"
        %br
        %label 
          Message     
        %br
        #template_setup    
          %ul{:id => "lt-form"} 
            %li 
              %a{:href => "#"} company.name   
            %li 
              %a{:href => "#"} company.email
            %li
              %a{:href => "#"} company.fax 
            %li
              %a{:href => "#"} company.phone 
            %li
              %a{:href => "#"} company.website 
            %li
              %a{:href => "#"} client.name 
            %li
              %a{:href => "#"} invoice.id 
            %li
              %a{:href => "#"} invoice.link 
            %li
              %a{:href => "#"} invoice.date    
            %li
              %a{:href => "#"} invoice.title 
            %li
              %a{:href => "#"} invoice.due_date 
            %li
              %a{:href => "#"} invoice.total_due
        
          #rt-form
            = s.input :reminder_message, :input_html => { :rows => 3, :class => 'autogrow' }, :label => false
        %br
        %h3 Payment Thank you Email Template
        = s.input :paythank_subject, :input_html => { :rows => 1, :class => 'autogrow' }, :label => "Subject"
        
        %br
        %label 
          Message     
        %br
        #template_setup    
          %ul{:id => "lt-form"} 
            %li 
              %a{:href => "#"} company.name   
            %li 
              %a{:href => "#"} company.email
            %li
              %a{:href => "#"} company.fax 
            %li
              %a{:href => "#"} company.phone 
            %li
              %a{:href => "#"} company.website 
            %li
              %a{:href => "#"} client.name 
            %li
              %a{:href => "#"} invoice.id 
            %li
              %a{:href => "#"} invoice.link 
            %li
              %a{:href => "#"} invoice.date    
            %li
              %a{:href => "#"} invoice.title 
            %li
              %a{:href => "#"} invoice.due_date 
            %li
              %a{:href => "#"} invoice.total_due
        
          #rt-form
            = s.input :paythank_message, :input_html => { :rows => 3, :class => 'autogrow' }, :label => false
        

        %button{:type=>"submit",:class=>"red"} Save
      
  