%table{:class=>"table table-condensed"}
 %tr
  %td
   %strong Subtotal:
  %td
   = currency_symbol
   = @invoice.total_cost_cents
 
 %tr
  %td
   %strong Subtotal inc Tax:
  %td
   = currency_symbol
   = @invoice.total_cost_inc_tax_cents
 -if !@invoice.discount.nil? and @invoice.discount.length >0 

  %tr
   %td
    %strong Discount:
    -if @invoice.discount.include? "%"
     %td= h @invoice.discount
    -else 
     %td
      = currency_symbol
      = h @invoice.discount#number_to_currency @invoice.discount, :unit => '£', :separator => ".", :delimiter => ","       
 %tr
  %td
   %strong Delivery:
  %td
   = currency_symbol
   = h @invoice.delivery_charge_cents#number_to_currency @invoice.delivery_charge, :unit => '£', :separator => ".", :delimiter => ","
 %tr
  %td
   %strong Total:
  %td
   %strong= currency_symbol
   %strong= h @invoice.total_cost_inc_tax_delivery_cents#number_to_currency @invoice.total_cost_inc_tax_delivery, :unit => '£', :separator => ".", :delimiter => ","
 %tr
  %td
   %strong Payment Due:
  %td
   %strong= currency_symbol
   %strong= h @invoice.remaining_amount_cents #number_to_currency @invoice.remaining_amount, :unit => '£', :separator => ".", :delimiter => ","