%tr{:class=>"show_fields"}
 %td= h show_invoice_item.item_description
 %td= h show_invoice_item.qty
 %td= h csymb @curr, show_invoice_item.cost_cents, @dae
 %td= h show_invoice_item.item_type
 %td= h csymb @curr, show_invoice_item.line_cost_inc_tax_cents, @dae
 %td= h show_invoice_item.show_tax
  
 