%tr.show_fields
 %td= h show_invoice_item.item_description
 %td= h show_invoice_item.qty
 %td= h csymb show_invoice_item.invoice.currency, show_invoice_item.cost_cents, false
 %td= h show_invoice_item.item_type
 %td= h csymb show_invoice_item.invoice.currency, show_invoice_item.line_cost_inc_tax_cents, false
 %td= h show_invoice_item.show_tax
  
 