#invoice-preview.row
 #invoice-header-details.col-md-7
  %table.table.table-condensed
   %tr
    %th ID
    %td 
     %strong= h @invoice.id
   %tr
    %th Your ID
    %td= h @invoice.business_id
   %tr
    %th Purchase Order
    %td= h @invoice.purchase_order_id
   %tr
    %th Date
    %td=h @invoice.client.company.preference.convert_date(@invoice.invoice_date)
   %tr
    %th Due
    %td=h @invoice.client.company.preference.convert_date(@invoice.due_date)
   %tr
    %th Currency
    %td=h @invoice.currency
   %tr
    %th Client Info 
    %td
     %h4= link_to @invoice.client.name, edit_client_path(@invoice.client)
     =render :partial => "clients/address", :locals => {:client => @invoice.client}

 #invoice-item-list.col-md-8
  %table#invoice-items.table.table-striped.pull-left
   %thead
    %tr
     %th Item
     %th Qty
     %th Unit Price
     %th Unit
     %th Total
     %th Tax
   %tbody
    =render :partial => "invoices/show_elements/show_invoice_item", :collection => @invoice.invoice_items, :as => :show_invoice_item
 #invoice-summary{:class=>"col-md-offset-4 col-md-3"}
  =render :partial => "invoices/show_elements/show_invoice_summary", :locals => {:invoice => @invoice}
 #invoice-footer{:class=>"col-md-12"}
  %p
   %strong Notes
   =h @invoice.notes
  -if @invoice.late_fee
   #invoice-footer-late-fee
    %p
     This invoice is due in
     %strong= pluralize(@invoice.due_days, 'day')
     -if @invoice.late_fee > 0
      , the late fee is set to
      %strong= h csymb @invoice.currency, @invoice.late_fee_cents, false#number_to_currency @invoice.late_fee, :unit => '£', :separator => ".", :delimiter => ","
   
  #invoice-time-now
   Printed on  
   =@invoice.client.company.preference.convert_datetime(Time.now)