- title "Edit Preferences"

= form_for @preferences do |f|
  = f.error_messages
  %p
    = f.label :date_format
    %br
    = f.text_field :date_format
  %p
    = f.label :time_format
    %br
    = f.text_field :time_format
  %p
    = f.label :number_format
    %br
    = f.text_field :number_format
  %p
    = f.label :fiscal
    %br
    = f.text_field :fiscal
  %p
    = f.label :payment_stub
    %br
    = f.text_area :payment_stub
  %p
    = f.label :discount
    %br
    = f.text_field :discount
  %p
    = f.label :shipping
    %br
    = f.text_field :shipping
  %p
    = f.label :purchase_order_number
    %br
    = f.check_box :purchase_order_number
  %p
    = f.label :email_alerts
    %br
    = f.check_box :email_alerts
  %p
    = f.label :company_id
    %br
    = f.text_field :company_id
  %p
    = f.submit


