- title "Edit Preferences"

= simple_form_for @preference do |f|
  = f.error_messages
  = f.input :currency_format, :collection => PrefCurrencyCountry.all, :label_html => {:class => "label_narrow"}, :include_blank => false
  = f.input :date_format , :collection => @date_formats, :label_html => {:class => "label_narrow"}, :include_blank => false
  = f.input :time_format, :as => :time_zone, :label_html => {:class => "label_narrow"}, :label => "Time Zone"
  = f.input :number_format, :label_html => {:class => "label_narrow"}
  = f.input :fiscal, :collection => ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], :label_html => {:class => "label_narrow"}, :include_blank => false
  = f.input :payment_stub, :label_html => {:class => "label_narrow"}
  = f.input :discount, :label_html => {:class => "label_narrow"}
  = f.input :shipping, :label_html => {:class => "label_narrow"}
  = f.input :purchase_order_number#, :label_html => {:class => "label_narrow"}
  = f.input :email_alerts#, :label_html => {:class => "label_narrow"}
  #buttons
    %button{:type=>"submit",:class=>"red"} Save


