-content_for :head do
  :javascript
    var PAYMILL_PUBLIC_KEY= '#{PAYMILL_PUBLIC_KEY}';
  
-if !@update_card
  %h1 
    Signing up for 
    = @plan.name
  %p
    It's only
    %strong
      =number_to_currency @plan.price, unit: "€"
      per month!
-else
  %h1
    Update Your Credit Card

%h3= @email

=simple_form_for  @subscription, :url => subscription_path, :html => { :method => :post, :multipart => true, :class => 'update_sub' } do |f|
  -if @subscription.errors.any?
    .alert.alert-error
      = pluralize(@subscription.errors.count, "error")
      prohibited this subscription from being saved:
      %ul
        -@subscription.errors.full_messages.each do |msg|
          %li= msg 
          
  = f.hidden_field :plan_id
  = f.hidden_field :paymill_card_token, :class => 'paymill_card_token'
  
  =#f.input :name
  =#f.input :email
  
  -if @subscription.paymill_card_token.present?
    Credit card has been provided.
  -else
    = label_tag 'Credit Card Number'
    = text_field_tag :card_number, nil, name: nil
    = label_tag 'CCV Number'
    = text_field_tag :card_code, nil, name: nil 
    
    =label_tag :card_month, "Card Expiration"
    =select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
    =select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
   
  #paymill_error
    %noscript
      JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>

  = f.submit !@update_card? "Subscribe" : "Update Card", :class => 'btn btn-primary btn-large pull-right'
 
=link_to  'Cancel Change', subscription_path, :class => 'btn btn-large  btn-inverse pull-left'
