<h2>Sign in</h2>

<%= simple_form_for resource_name, :as => resource, :url => session_path(resource_name) do |f| %>
  <%= field_set_tag 'Inputs' do %>

    <%= f.input :email %>
    <%= f.input :password %>


    <% if !current_company %>
      <%= f.input :company_id, :as => :string%>
    <% else %>
      <%=  f.hidden_field :company_id, :value => current_company.name %>
    <% end %>

    <% if devise_mapping.rememberable?%>
      <%= f.input :remember_me, :as => :radio%>
    <% end%>


    <%= f.button :submit, "Sign in" %>
  <% end %>
<% end %>
<%= render :partial => "devise/shared/links" %>
