- form_for @invoice_item do |f|
  = f.error_messages
  %p
    = f.label :invoice_id
    %br
    = f.text_field :invoice_id
  %p
    = f.label :item_type
    %br
    = f.text_field :item_type
  %p
    = f.label :item_description
    %br
    = f.text_field :item_description
  %p
    = f.label :qty
    %br
    = f.text_field :qty
  %p
    = f.label :cost
    %br
    = f.text_field :cost
  %p
    = f.label :taxable
    %br
    = f.check_box :taxable
  %p
    = f.submit
