= simple_form_for [@invoice,@invoice_item] do |f|
  = f.error_messages
  = f.input :item_type
  = f.input :item_description
  = f.input :qty
  = f.input :cost
  = f.input :taxable
  %p
    = f.submit
