%h2 Payments
-if @invoice.remaining_amount == @invoice.total_cost_inc_tax_delivery
  %p
  %strong No payments made
-elsif @invoice.remaining_amount == 0 
  %h3 This invoice has been paid
-if @invoice.payments.count >0
  =form_tag delete_multiple_invoice_payments_path(@invoice), :method => :delete, :remote => true do
    -if can? :delete, Payment
      = submit_tag 'Cancel', :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?', :class=> 'btn btn-small btn-danger'
    %table{:class => "table table-striped"}
      %thead 
        %tr
          %th
          %th Date
          %th User
          %th Amount
          %th Payment type
          %th Currency
          %th Status
        - for payment in @invoice.payments
          %tr{:id => "payment-row-" + payment.id.to_s, :class=>"table-row " + cycle("odd", "even")}
            %td
              -if payment.status != 'cancelled' and payment.payment_type != 'gocardless'
                = check_box_tag "payment_ids[]", payment.id
            %td= h payment.created_at.strftime('%Y-%m-%d %H:%M:%S')
            %td= h payment.user.email
            %td= h csymb @curr, payment.amount_cents, @dae
            %td= h payment.payment_type
            %td= h @invoice.currency
            %td= h payment.status