!!! XML
!!!
%html{html_attrs(lang = 'en')}
  %head
    = render 'layouts/head'
  %body.page.page-index
    #navigation.wrapper
      .navbar.navbar-static-top
        #header.header
          #header-inner      
            .row
              #logo.span5.offset1
                %a.brand{:href=>"#"} 
                  %h1 InvoiCere
                  %small
                    Secure and Robust Online Invoicing                            
          .row
            .navbar-inner
      
              %ul.nav.user-menu.pull-right
                = render 'devise/menu/registration_items'
                = render 'devise/menu/login_items' 
                
              .nav-collapse.collapse
                #main-menu.nav
                  %li
                    %a Features
                  %li
                    %a Pricing
                  %li
                    %a Demo
                  %li
                    %a Support
    #container
      .offset1                                   
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
      .offset1.span12
        =yield
    .row
    #footer
      = render 'layouts/footer'




       
