%html{html_attrs(lang = 'en')}
!!!
%head
 = render 'layouts/head'
%body{:class => "two-col"}
 #container
  #header
   #login_console
    %ul{:class => "horizontal"}
     = render 'devise/menu/registration_items'
     = render 'devise/menu/login_items'          
   #logo
    %h3
     VisioInvoice
     %h4
      Put some sexy quote here...
  #content
   = display_flash_messages
   -#flash.each do |name, msg|
    =# content_tag :div, msg, :id => "flash_#{name}"
   =yield
  #footer
   = render 'layouts/footer'