!!! XML
!!!
%html{html_attrs(lang = 'en')}
  %head= render 'layouts/head'
  %body
  
    %header.navbar.navbar-default{:role => 'banner'}
      .container
        .navbar-header          
          %a.navbar-brand{:href=>"#"} 
            InvoiCere
          %small Secure and Robust Online Invoicing   
        %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => 'navigation'}
          %ul.nav.navbar-nav  
            %li
              %a Features
            %li
              %a Pricing
            %li
              %a Demo
            %li
              %a Support
            %li
              %a About    
          %ul.nav.navbar-nav.navbar-right  
            = render 'devise/menu/registration_items'
            
            = render 'devise/menu/login_items'                        
    .container
      
      .row                                   
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "danger"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"            
      .row
        =yield
 
    %footer
      .container=render 'layouts/footer'




       
