!!! XML
!!!
%html{html_attrs(lang = 'en')}  
  %head
    =render(:partial => 'layouts/head')
  %body
    #header{:class => "navbar navbar-inverse navbar-fixed-to row"}
      #top-bar{:class=>"navbar-inner"}
        %a{:class=>"brand", :href=>"#"} VisioInvoice
        #welcome_console{:class => "container"}
          -if !current_user.nil?
            -if !current_user.name.nil?
              %strong="Welcome " + current_user.name
            #settings_console
              %ul{:class => "nav pull-right"}
                %li= render 'devise/menu/registration_items'
                %li= render 'devise/menu/login_items'
      =h yield(:header)
    #nav{:class => "offset1"}  
      =render_navigation(:context => :main)
    #dashboard-content{:class => "row"}
      #dashboard-left{:class=>"span2"}
        = yield(:left)
      #dashboard-centre{:class=> "span10"}
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
        -if show_title?
          #form-title{:class => "row"}
            %h3=h yield(:title)      
        =yield
      #dashboard-right{:class=>"span2"}
        =#render_navigation(:context=> :quick)
        =h yield(:right)              
    #footer{:class=> "offset1"}
      = render 'layouts/footer'
  

