!!! XML
!!!
%html{html_attrs(lang = 'en')}  
  %head
    =render(:partial => 'layouts/head')

  %body
    
    %header.navbar.navbar-inverse.navbar-fixed-to.row
      .container
        #top-bar.navbar-header
          %a.navbar-brand{:href=>"#"} InvoiCere
          #welcome_console.container
            -if !current_user.nil?
             
              #settings_console              
                %ul.nav.navbar-nav.navbar-right
                  -if !current_user.name.nil?
                    = link_to ("Hello " + current_user.name.to_s + ("<b class= 'caret text-muted'></b>")).html_safe ,'#' ,  'data-toggle'=>"dropdown", :class => 'dropdown-toggle text-muted'
                    %ul.dropdown-menu{:role=>"menu", 'aria-labelledby'=>"dLabel"}   
                      %li= render 'devise/menu/registration_items'
                      %li= render 'devise/menu/login_items'
                  
                  -if can? :update, Company
                    %li.dropdown
                      =link_to (("<i class= 'glyphicon glyphicon-cog'></i>")).html_safe, edit_company_path, :class => 'dropdown-toggle', 'data-toggle' => "dropdown", :role=>"button", 'data-target' => "#"
                      %ul.dropdown-menu{:role=>"menu", 'aria-labelledby'=>"dLabel"}            
                        -if can? :update, Company
                          %li
                            =link_to 'Company and Payment Settings', edit_company_path               
                        -if can? :read, User 
                          %li
                            =link_to "Manage User Logins", users_path              
                        -if can? :update, Etemplate
                          %li
                            =link_to "Edit Email Templates", edit_company_etemplate_path                            
                        -if can? :update, Preference
                          %li
                            =link_to "Edit Invoice Preferences", edit_company_preference_path            
                        -if can? :update, Item
                          %li    
                            =link_to "Manage Inventory Items", items_path
               
               
                  
          =h yield(:header)
  
    
    -if current_user
      %ul.nav.nav-tabs
        %li#dashboard-nav.active
          =link_to 'Dashboard', root_path
        -if can? :read, StandardInvoice
          %li#invoices-nav
            =link_to'Invoices', invoices_path
        -if can? :read, ScheduleInvoice
          %li#reocurring-invoices-nav
            =link_to'Reocurring', schedule_invoices_path
        -if can? :read, Client
          %li#clients-nav
            =link_to 'Clients', clients_path
        


                


    #dashboard-content.container.row
      #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %h4.modal-title                        
            .modal-body
              loading...
              
   
      
      #dashboard-left.col-md-2
        = yield(:left)
      #dashboard-centre.col-md-8
        - flash.each do |name, msg|
          =render "shared/flash", :name => name, :msg => msg        
        -if show_title?
          #form-title            
            %h3=h yield(:title)      
        =yield
      #dashboard-right.col-md-2
        =#render_navigation(:context=> :quick)
        =h yield(:right)              
    #footer.col-md-offset-1
      = render 'layouts/footer'
  

