!!! XML
!!!
%html{html_attrs(lang = 'en')}  
  %head
    =render(:partial => 'layouts/head')
  %body
    #header{:class => "navbar navbar-inverse navbar-fixed-to row"}
      #top-bar{:class=>"navbar-inner"}
        %a{:class=>"brand", :href=>"#"} VisioInvoice
        #welcome_console{:class => "container"}
          -if !current_user.nil?
            -if !current_user.name.nil?
              %strong="Welcome " + current_user.name
            #settings_console
              %ul{:class => "nav pull-right"}
                %li= render 'devise/menu/registration_items'
                %li= render 'devise/menu/login_items'
      =h yield(:header)
  
    
    -if current_user
      %ul{:class=>'nav nav-tabs'}
        %li{:class=> 'active'}
          =link_to 'Dashboard', root_path
        -if can? :read, StandardInvoice
          %li
            =link_to'Invoices', invoices_path
        -if can? :read, ScheduleInvoice
          %li
            =link_to'Reocurring', schedules_path
        -if can? :read, Client
          %li
            =link_to 'Clients', clients_path
        -if can? :update, Company
          %li{:class => 'dropdown'}
            =link_to raw("Settings" +("<b class= 'caret'></b>")), edit_company_path, :class => 'dropdown-toggle', 'data-toggle' => "dropdown", :role=>"button", 'data-target' => "#"
                        
            %ul{:class => 'dropdown-menu', :role=>"menu", 'aria-labelledby'=>"dLabel"}            
              -if can? :update, Company
                %li
                  =link_to 'Company and Payment Settings', edit_company_path               
              -if can? :read, User 
                %li
                  =link_to "Manage User Logins", users_path              
              -if can? :update, Etemplate
                %li
                  =link_to "Edit Email Templates", edit_company_etemplate_path                            
              -if can? :update, Preference
                %li
                  =link_to "Edit Invoice Preferences", edit_company_preference_path            
              -if can? :update, Item
                %li    
                  =link_to "Manage Inventory Items", items_path


                


    #dashboard-content{:class => "row"}
      #dashboard-left{:class=>"span2"}
        = yield(:left)
      #dashboard-centre{:class=> "span10"}
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
        -if show_title?
          #form-title{:class => "row"}
            %h3=h yield(:title)      
        =yield
      #dashboard-right{:class=>"span2"}
        =#render_navigation(:context=> :quick)
        =h yield(:right)              
    #footer{:class=> "offset1"}
      = render 'layouts/footer'
  

